<ui-navbar></ui-navbar>

<div class="flex flex-col items-center justify-center min-h-[70vh] gap-8">
  <div class="text-center mt-16">
    <h1 class="text-3xl font-bold mb-4">Dashboard</h1>
    <p class="text-lg text-muted-foreground mb-8">
      Accédez à la gestion complète de vos données.
    </p>
    <div class="flex flex-col sm:flex-row gap-4 justify-center">
      <a routerLink="airports" hlmBtn variant="default" size="lg">Gestion des Aéroports</a>
      <a routerLink="model-planes" hlmBtn variant="default" size="lg">Gestion des Modèles d'avion</a>
      <a routerLink="planes" hlmBtn variant="default" size="lg">Gestion des Avions</a>
      <a routerLink="flights" hlmBtn variant="default" size="lg">Gestion des Vols</a>
    </div>
  </div>
</div>
